body, h1, h2, h3, button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #c7c7c7;
}

body {
  background-color: #1e1e1e;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#timer {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: #2e2e2e;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
}

h1, h2 {
  background-color: #5cb85c;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

h3, button {
  color: #fff;
}
#button-container {
  display: flex;
  justify-content: space-around; /* This will space out your buttons evenly */
  flex-wrap: wrap; /* This allows the buttons to wrap onto the next line if the container is too narrow */
  gap: 10px; /* This adds space between your buttons if they wrap */
  margin-bottom: 10px; /* This adds space between the buttons and the session history */
}

#end-session-container {
  display: flex;
  justify-content: center;
  margin-top: 5px; /* Adjust the margin as needed */
}

#end-session {
  /* Ensure the button itself does not stretch to fill the container */
  flex: 0 0 auto;
  width: 100%; /* Make the button full width */
}

button {
  flex: 1; /* This allows the buttons to grow and fill the space in the container */
  min-width: 90px; /* Minimum width for buttons */
  background-color: #4cae4c;
  border: none;
  border-radius: 5px;
  display: block;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #7a7a7a;
}

#total-time, #current-question {
  transition: background-color 0.3s;
}

:root {
  --main-color: rgb(134, 134, 134); /* Default color, can be overridden by .math-mode or .rw-mode */
}

#session-history {
  border-top: 1px solid #444;
  max-height: 90px; /* Adjust based on your layout */
  overflow: auto;
}

#session-history div {
  border-bottom: 1px solid #555;
  padding: 5px 0;
}

/* Adjustments for smaller screens */
@media (max-width: 480px) {
  body {
    padding: 10px;
  }

  h1, h2 {
    font-size: 16px;
  }
}
